.sign-up {
  background-image: url("../../assets//blur_bg_1.jpeg");
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-around; */
}

/* .container {
  background-color: rgba(255,255,255,0.86);
  padding: 48px;
  border-radius: 20px;
  max-width: 1076px;
  text-align: center;
  position: relative;
}

.sign-up--title {
  margin-bottom: 50px;
}

.sign-up--title > h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.sign-up--title > span {
  font-size: 1rem;
}

.container2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-bottom: 50px;
}

.container2 > span {
  color: gray;
  font-size: 1rem;
}

.independent, .hiring {
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 48px 24px;
  transition: 1s ease;
}

.independent:hover,.hiring:hover {
  cursor: pointer;
  box-shadow: 1px 0px 14px 0px rgba(194,171,171,0.75);
  -webkit-box-shadow: 1px 0px 14px 0px rgba(194,171,171,0.75);
  -moz-box-shadow: 1px 0px 14px 0px rgba(194,171,171,0.75);
  transform: scale(1.1);
  transition: .5s ease;
}


.independent > h2, .hiring > h2 {
  font-size: 1.5rem;
  margin-bottom: 0.3em;
}

.independent > span, .hiring > span {
  font-size: 1rem;
}

.bottom {
  position: absolute;
  bottom: 35px;
  left: 40%;
}

.bottom > span {
  font-size: 0.85rem;
} */
