.login {
    height: 100vh;
    flex: none;
    box-sizing: border-box;
    position: relative;
}

.login__bg > img {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(20px);
}

/* logo position */

.login__banner {
    position: absolute;
    top: 3em;
    left: 5em;
}

svg {
    filter: invert(1);
}

/* container */

.login__page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.login__container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 20em;
    background: var(--white-bg);
    border-radius: 1.2rem;
    width: 80vw;
    height: 80vh;
}

.login__container-left {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

/* right side */

.login__container-right {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login__container-right > img {
    width: 90%;
}